<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="middle-section">
        <div class="checkout-left-side">
            <h1>teste</h1>
        </div>
        <div class="checkout-right-side">
            <div class="checkout-product-info">
                <div class="checkout-product-image">
                    <img src="../images/checkout-1.png" alt="">
                </div>
                
                <div class="checkout-name-price">
                    <p class="name">Spiced Mint Candleaf®</p>
                    <p class="price">$ 9.99</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
