<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candleaf</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
</head>

<body>

    <header class="header">
        <div class="logo"><img src="../images/logo.png" alt="header logo"></div>
        <ul class="navbar-list">

            <li>Discovery <img src="../images/ChevronDown.png" alt="Down flash icon"></li>
            <li>About</li>
            <li>Contact us</li>

        </ul>
        <div class="user">
            <img class="perfil" src="../images/Profile.png" alt="user icon">
            <img class="carrinho" src="../images/Cart.jpg" alt="cart icon">
        </div>

    </header>
    <main>
        <section class="cart-section">
            <h2>Your cart items</h2>
            <a href="">Back to shopping</a>
            <div class="product-cart-info">
                <div class="cart-info-header">
                    <p>Product</p>
                    <p>Price</p>
                    <p>Quantity</p>
                    <p>Total</p>
                </div>
                <div class="cart-single-product">
                    <div class="cart-product-info">
                        <img src="../images/checkout-1.png" alt="">
                        <div class="cart-product-name">
                        <h5>Spiced Mint Candleaf®</h5>
                        <a href="#">Remove</a>
                        </div>
                    </div>
                    <p>$ 9.99</p>
                    <div class="input-qty">
                        <p>+</p>
                        <p>1</p>
                        <p>-</p>
                    </div>
                    <p>$ 9.99</p>
                </div>
                <div class="cart-resume">
                    <div class="info-text">
                        <div class="subtotal">
                        <p>Sub-total</p><p>$ 9.99</p>
                        </div>
                        <t>Tax and shipping cost will be calculated later</t>
                    </div>
                    <button>Check-out</button>
                </div>

            </div>

        </section>
    </main>
    <footer>
        <div class="footer-main">
            <div class="footer-left">
                <img class="footer-logo" src="../images/footer-logo.png" alt="footer logo">
                <p class="footer-desc">Your natural candle made for</p>
                <p class="footer-desc">your home and for your wellness.</p>
            </div>

            <div class="footer-right">
                <div class="footer-widget-1">
                    <ul>
                        <li>Discovery</li>
                        <li>New season</li>
                        <li>Most searched</li>
                        <li>Most selled</li>
                    </ul>
                </div>
                <div class="footer-widget-2">
                    <ul>
                        <li>About</li>
                        <li>Help</li>
                        <li>Shipping</li>
                        <li>Affiliate</li>
                    </ul>
                </div>
                <div class="footer-widget-3">
                    <ul>
                        <li>Info</li>
                        <li>Contact us</li>
                        <li>Privacy policies</li>
                        <li>Terms e Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>