<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candleaf</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body> 
    
    <nav class="navbar">
        <div class="logo"><img src="../images/logo.png" alt=""></div>
        <ul class="navbar-list">
            
            <li>Discovery <img src="../images/ChevronDown.png" alt=""></li>
            <li>About</li>
            <li>Contact us</li>

        </ul>
        <figure class="user">
        <img class="perfil" src="../images/Profile.png" alt="">
        <img class="carrinho" src="../images/Cart.jpg" alt="">
        </figure>
        
    </nav>

    <main>
    <section class="fst-container">
        <div class="card">
            <div>
                <p class="fst-p fst-icon">🌱</p>
                <h1 class="h1"> The nature candle</h1>
                <p class="fst-p">All handmade with natural soy wax, 
                Candleaf is a companion for all</p>
                <p class="fst-p"> your pleasure moments</p>
            </div>
            
            <div class="fst-btn ">
                <button type="button" class= "textb">Discovery our collection</button>
            </div>
        </div>
    </section>
    </main>
    

    <section class="products">
        <div class="text">
            <h1>Products</h1> 
            <p>Order it for you or for your beloved ones</p>
        </div>
           
         <div class="products-list">
            <div class="line">
                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-1.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Spiced Mint</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-2.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Sweet Straweberry</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-3.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Cool Blueberries</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-4.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Juicy Lemon</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>
            </div>

            <div class="line">
                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-5.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Product name</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-6.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">fragrant Cinnamon</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-7.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Summer Cherries</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

                <div class="single-product">
                    <div class="single-product-image">
                        <img src="../images/product-8.png" alt="">
                    </div>
                    <div  class="single-product-info">
                        <p class="product-title">Clean Lavander</p>
                        <p class="product-price">9.99$</p>
                    </div>
                </div>

            </div>
         </div>
    </section>

  
    <div class="principal">
        <div class="left-side">
           <h1>Clean and<br> fragrant soy wax</h1>
           <h4>Made for your home and for your wellness</h4>
            
           
        </div>

        <div class="right-side">
            <ul>
                <li><strong>Eco-sustainable:</strong>All recyclable materials, 0% CO2 emissions</li>
                <li><strong>Hyphoallergenic:</strong> 100% natural, human friendly ingredients </li>
                <li><strong>Handmade:</strong> All candles are craftly made with love.</li>
                <li><strong>burning:</strong>  No more waste. Created for last long.</li>
                <div class="bt"><Button type="bt" class="textbt">Learn more</Button></div>
            </ul>
            
          <img src="../images/mockups.png">
          
        </div>
         
        
    
    </div>
  
    <section class="testimonials">
        <div>
            <h1 class="testimonials-title">Testimonials</h1>
            <h4>Some quotes from our happy customers</h4>
        </div>
        <div class="testimonials-list">
            <div class="square">
                
                <img class="person" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/bg.png" alt="">
                <img class="stars" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/Stars.png" alt="">
                <h1>“I love it! No more air fresheners”</h1>
                <p>Luisa</p>
            </div>
            <div class="square">
                
                <img class="person" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/bg.png" alt="">
                <img class="stars" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/Stars.png" alt="">
                <h1>“I love it! No more air fresheners”</h1>
                <p>Luisa</p>
            </div>
            <div class="square">
                
                <img class="person" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/bg.png" alt="">
                <img class="stars" src="/Checkpoint-2-Front-End-a41d302ca2d75381ccd2a8bd88b508e6e24e64f4/images/Stars.png" alt="">
                <h1>“I love it! No more air fresheners”</h1>
                <p>Luisa</p>
            </div>
            
            
        </div>
        
    </section>
        
    
</body>
</html>