<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="middle-section">


        <div class="checkout-left-side">
            <h1>Dentro da div checkout-left-side vai a sua tela</h1>
        </div>




        <div class="checkout-right-side">
            <div class="checkout-product-info">
                
                <div class="checkout-product-image">
                    <img class="counter" src="../images/counter.png" alt="">
                    <img src="../images/checkout-1.png" alt="">
                </div>
                
                <div class="checkout-name-price">
                    <p class="name">Spiced Mint Candleaf®</p>
                    <p class="price">$ 9.99</p>
                </div>
            </div>
            <div class="cupon">
                <input type="text" placeholder="Cupon code" id="">
                <button>Add code</button>
            </div>
            <div class="preprice">
                <div class="subtotal">
                    <p>Subtotal</p>
                    <p class="w600">$ 9.99</p>
                </div>
                <div class="shipping">
                    <p>Shipping</p>
                    <p>Calculated at the next step</p>
                </div>
            </div>
            <div class="total">
                <p>Total</p>
                <h2 class="w600">$ 9.99</h2>
            </div>
        </div>
    </section>
</body>
</html>
