@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.w600{
    font-weight: 600;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:hover {
   scale: 1.1;
}

header.header {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
    width: 1440px;
    height: 75px;
    align-items: center;
    color: var(--black, #272727);
    background-color: white;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    
}

header.header div.user{
    cursor: pointer;
    display: relative;
}

header.header ul.navbar-list { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 65px;
    padding-right: 6rem;
    color: var(--black, #272727);
    font-family: "Roboto";
    
    
    
}
    
header.header ul.navbar-list li {
   padding-left: 20px;
   justify-content: center;
   font-family: "Roboto";
}

header.header ul.navbar-list li:hover {
   color: #56B280;
}

header.header img.perfil {
    cursor: pointer;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    
}

header.header img.carrinho {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-bottom: 5px;
    padding-left: 20px;
}



section.fst-container{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg-image.png);
    background-size: cover;
    height: 50rem;
    width: 100%;
    align-items: center;
}



section.fst-container div.card {
    width: 730px;
    height: 349px;
    background: rgba(247, 248, 250, 80%);
    border-radius: 2px;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column


}

section.fst-container div.card div h1.h1 {
    text-align: center;
    color: #1D252C;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
}

section.fst-container div.card div p.fst-p {
    font-family: Helvetica;
    color: #1D252C;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 25.6px;
    padding-bottom: 2%;
}

section.fst-container div.card div p.fst-icon{
    font-size: 40px;
}

section.fst-container div.card div.fst-btn button.textb { 
    color: #FFF;
    padding: 8px 44px;
    font-family: "Roboto";
    font-size: 20.645px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background: var(--green, #56B280);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

section.fst-container div.card div.fst-btn button.textb:hover{
    background-color: #5bdb9b;
    scale: 1.1;
}

section.fst-container div.card div.fst-btn  {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    
}


section.products{
    height: 70rem;
    padding: 0 10% 0 10%;
}

div.products-list div.line div.single-product{
    display: flex;
    width: 15rem;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    cursor:pointer
}

div.products-list div.line div.single-product:hover{
    scale: 1.1;
}

div.products-list div.line{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

div.products-list div.line div.single-product div.single-product-image{
    background-color: #f7f8fa;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

div.products-list div.line div.single-product div.single-product-image img{
    height: 12rem;
    transform: scale(1.2);
    
}

div.products-list div.line div.single-product div.single-product-info{
    background-color: #ffffff;
    padding: 1rem;
    
}

div.products-list div.line div.single-product div.single-product-info p.product-title{
    font-family: "Poppins";  
    font-size: 17px;
    font-weight: 500;
}

div.products-list div.line div.single-product div.single-product-info p.product-price{
    font-family: "Poppins";  
    font-size: 20px;
    text-align: right;
    color: #56b280;
    font-weight: 600;
    margin-top: 0.5rem;
}




.imagens {
    cursor: pointer;
    margin-top: 10%;
    margin-left: 12%;
}

.text {
    
    padding-top: 8%;
    text-align: center;
    font-family: "Poppins";
    font-size: 40px;
    color: #0B254B;
    
}


.text > p {
    padding-top: 2%;
    text-align: center;
    font-size: 18px;
}

.principal {
    display: "center";
    list-style-image: url(./checkmark-circle-outline\ 1.png);
    background-color: #F7F8FA;
}




.right-side > ul h1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
    color: #1D252C;
    letter-spacing: -0.9px;
    width: 350px;
    height: 105px;
    line-height: 46.6px; /* 116.5% */
    font-style: normal;
    
    
    
}

.right-side > ul h4 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.8px; /* 142.5% */
    color: var(--green, #56B280);
    width: 350px;
    height: 25px;
    flex-shrink: 0;
    padding-bottom: 10%;
    
}


.right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F7F8FA;
    
}

.right-side > ul {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    line-height: 50.8px; /* 180% */
    color: #000;
    padding-bottom: 10%;
    list-style:url(/images/checkmark-circle-outline\ 1.png);
    padding-top: 10%;
    
    
}

.right-side > img {
    display: flex;
    width: 594px;
    height: 446px;
    flex-shrink: 0;
    -webkit-box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    
}

.textbt {
    color: #FFF;
    padding: 8px 44px;
    font-family: "Roboto";
    font-size: 20.645px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background: var(--green, #56B280);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.textbt:hover {
    background-color: #5bdb9b;
    scale: 1.1;
}

.bt {
    display: flex;
    padding-top: 10%;
    
    
    
}
section.testimonials {
    background-color: rgba(86, 178, 128, 0.10);
    text-align: center;
    height: 40rem;
    color: var(--dark-1, #5E6E89);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px; /* 153.333% */
    letter-spacing: 0.1px;  
        
    
}

h1.section-title {
    color: #0B254B;
    font-family: "Poppins";
    line-height: 57.6px; /* 144% */
    letter-spacing: -0.9px;
    font-size: 40px;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-top: 7rem;
}

h4.section-sub{
    color: var(--dark-1, #5E6E89);
    font-family: "Poppins";
    font-weight: 500;
    line-height: 27.6px; /* 153.333% */
    letter-spacing: 0.1px;
    
}

section.testimonials div.testimonials-list{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

section.testimonials div.testimonials-list .square{
    display: flex;
    justify-content: end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 12.5rem;
    height: 20rem;
    padding: 0 4rem;
    border-radius: 6px;
    box-shadow: 0px 4px 24px 0px rgba(139, 167, 178, 0.16);
    
}


section.testimonials div.testimonials-list .square img.person { 
    display: flex;
    width: 120px;
    height: 120px;
    scale: 1.2;
}

section.testimonials div.testimonials-list .stars {
    width: 145.946px;
    height: 24px;
    padding-bottom: 1rem;
    
}

section.testimonials div.testimonials-list .square h1 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 500;
    color: #1D293F;
    text-wrap: balance;
}


section.testimonials div.testimonials-list .square p{
    color: #7C8087;
    font-family: Helvetica;
    text-align: center;
}


section.middle-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.middle-section div.checkout-left-side, section.middle-section div.checkout-right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
}

section.middle-section div.checkout-right-side{
background-color:#F2F2F2;
display: flex;
flex-direction: column;
padding: 3rem 3rem 3rem 3rem;
}


section.middle-section div.checkout-right-side div.checkout-product-info{
    display: flex;
    align-items: center;
    border-radius: 1rem;
}




section.middle-section div.checkout-right-side div.checkout-product-info div.checkout-product-image img{
    width: 10rem;
   
}

section.middle-section div.checkout-right-side div.checkout-product-info div.checkout-product-image .counter{
    position:absolute;
    width: 26px;
    margin: -10px;
   
}

section.middle-section div.checkout-right-side div.checkout-product-info div.checkout-product-image {
    background-color: #F7F8FA;
    display: flex;
    flex-direction: row-reverse;
    
   
}
section.middle-section div.checkout-right-side div.checkout-product-info div.checkout-name-price {
    display: flex;  
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    gap: 1rem;
}

section.middle-section div.checkout-right-side div.checkout-product-info div.checkout-name-price p.price{
    font-size: 21px;
    color:#56B280;
    font-weight: 600;
}

section.middle-section div.checkout-right-side div.cupon{
padding: 2rem 0;
border-top: 1px solid #56B28033;
border-bottom: 1px solid #56B28033;
width: 77%;
}

section.middle-section div.checkout-right-side div.cupon input{
    height: 2rem;
    width: 20rem;
    padding-left: 1rem;
}

section.middle-section div.checkout-right-side div.cupon button{
    height: 100%;
    width: 5rem;
    padding: 0.2rem;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #A8A8A8;
}

section.middle-section div.checkout-right-side div.cupon{
    margin-top: 3rem;
   
}

section.middle-section div.checkout-right-side div.preprice{
    padding: 2rem 0;
    border-bottom: 1px solid #56B28033;
    width: 77%;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
   
}

section.middle-section div.checkout-right-side div.preprice div.subtotal{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 100%;
    flex-direction: row; 
    justify-content: space-between;
}

section.middle-section div.checkout-right-side div.preprice div.shipping{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 100%;
    flex-direction: row; 
    justify-content: space-between;
}

section.middle-section div.checkout-right-side div.total{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 77%;
    flex-direction: row; 
    justify-content: space-between;
    text-align: center;
}

section.popular{
    text-align: center;
    height: 40rem;
}

footer{
    background-color: #272727;
    height: 20rem;
    padding: 4rem 7rem 0 7rem;
}

footer div.footer-main{
    border-top: 1.5px solid #FFFFFF;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

footer div.footer-main img.footer-logo{
    height: 4rem;
}

footer div.footer-main p.footer-desc{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

footer div.footer-main div.footer-right{
    display:flex;
    gap: 5rem;
    padding-top: 2rem;
}

footer div.footer-main div.footer-right ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #E1E1E1;
    font-weight: 300;
}

footer div.footer-main div.footer-right ul li:first-child {
    color:#56b280;
}

section.middle-section div.checkout-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.middle-section div.checkout-left-side div.checkout-logo img {   
    width: 12rem;
}

section.middle-section div.checkout-left-side div.checkout-logo  {   
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 25vw;
    
}

section.middle-section div.checkout-left-side div.checkout-logo div t {
    color: #56B280;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
}

section.middle-section div.checkout-left-side div.checkout-logo div t:last-child {
    color: #272727;
}
section.middle-section div.checkout-left-side div.checkout-logo div t:nth-child(2n) {
    color: #272727;
}

section.middle-section div.checkout-left-side div.checkout-logo div {
    display:flex;
    gap: 1rem;
}

section.middle-section div.checkout-left-side div.checkout-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    padding: 2rem 3rem 0 12rem;
    gap: 1rem;
}

section.middle-section div.checkout-left-side div.checkout-confirm img {
    width: 7rem;
}

section.middle-section div.checkout-left-side div.checkout-confirm p.order-number {
    font-family: 'Helvetica', sans-serif;
    color: #56B280;

    
}

section.middle-section div.checkout-left-side div.checkout-confirm p.thanks-message {
    line-height: 1.2rem;
    color: #818181;
}

section.middle-section div.checkout-left-side div.checkout-confirm button {
    border: none;
    height: 3rem ;
    width: 17rem;
    font-size: 20.65px;
    margin-top: 2rem;
    background-color: #56B280;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

section.middle-section div.checkout-left-side div.checkout-confirm a:first-child {
    color: #FFFFFF;
    text-decoration: none;
    
}

section.middle-section div.checkout-left-side div.checkout-confirm button:hover {
    background-color: #70d39d;
    scale: 1.1;
}

section.middle-section div.checkout-left-side div.checkout-confirm a {
    text-decoration: underline;
    color: #56b280;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 1rem;
}

div.pay_chek{
    color:#818181;
    display:flex;
    font-size:9px;
    margin:5rem;
}

div.ship_to{
    color:#818181;
    display:flex;
    font-size:9px;
    margin:0rem;
}
div.method{
    color:#818181;
    display:flex;
    font-size:9px;
    margin:5rem;
}
section.middle-section div.checkout-left-side div.contact-info{

    border: 1px solid #56B28033;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    margin-top:3rem ;
    


}
section.middle-section div.checkout-left-side div.contact-info div.contact-edit{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
section.middle-section div.checkout-left-side div.contact-info div.contact-edit:first-child{
    border-bottom:1px solid #56B28033;
}

section.middle-section div.checkout-left-side div.contact-info div.contact-edit div{
    display: flex;
    gap: 1rem;
    
}
section.middle-section div.checkout-left-side div.contact-info div.contact-edit div p{
    font-size: 14px;

}
section.middle-section div.checkout-left-side div.contact-info div.contact-edit div p:first-child{
    width: 4rem;
    color:#818181 ;
}
section.middle-section div.checkout-left-side div.contact-info div.contact-edit p.edit-btn{
    font-size: 14px;
    color:#56B280 ;
}
section.middle-section div.checkout-left-side div.shipping-method{
  
    display: flex;
    flex-direction: column;
    width: 34rem ;
    margin-top: 2rem;
    gap: 1rem;
}
section.middle-section div.checkout-left-side div.shipping-method div.shipping-options{
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 1rem;
    border: 1px solid #E5E5E5;
    padding: 1rem 1.5rem ;
    border-radius: 7px;
    justify-content: space-between;

}
section.middle-section div.checkout-left-side div.shipping-method div.shipping-options div.method-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section.middle-section div.checkout-left-side div.shipping-method div.shipping-options input[type='radio'] {
    accent-color: #87D6AC;
    
}
section.middle-section div.checkout-left-side div.shipping-method div.shipping-options div.method-text p:last-child{
    font-weight: 700;
}
section.middle-section div.checkout-left-side div.submit-payment{
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    width:34rem ;
    justify-content: space-between;
    padding-bottom: 5rem;
}
section.middle-section div.checkout-left-side div.submit-payment a{
    text-decoration:underline ;
    color:#56B280 ;
    font-size: 18px;
    font-weight: 400;
}
section.middle-section div.checkout-left-side div.submit-payment button{
    border: none;
    background-color: #56B280 ;
    color: #ffffff;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    font-size: 20.65px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
section.middle-section div.checkout-left-side div.submit-payment button:hover{
    background-color: #73e9a8 ;
    scale: 1.1;
}

