* {
    padding: 0;
    margin: 0;
    
}



.container{
    display: flex;
    justify-content: center;
    padding-left: 55px;
    background-repeat: no-repeat;
    background-image: url(./bg-image.png);
    background-size: cover;
    padding-bottom: 10%;
}



.card {
    width: 730px;
    height: 349px;
    flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 170px;
    background: rgba(247, 248, 250, 0.80);
    border-radius: 2px;
    backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;
}

 .titulo {
    text-align: center;
    color: #1D252C;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
    margin-top: 40px;
}

.paragrafo {
    font-family: Helvetica;
    color: #1D252C;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 25.6px
    
}

.textb { 
    color: #FFF;
    padding: 8px 44px;
    font-family: "Roboto";
    font-size: 20.645px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background: var(--green, #56B280);
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    
}

.PI {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
    width: 1440px;
    height: 75px;
    align-items: center;
    color: var(--black, #272727);
    background-color: white;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    
}

.navbar { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 65px;
    
    
    
}
    
.navbar li {
   padding-right: 20px;
   justify-content: center;
   
  
   
}

.perfil {
    cursor: pointer;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    
}

.carrinho {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-bottom: 5px;
    padding-left: 20px;
}

.logo {
    padding-right: 50px;
}

.produtos{
    padding-left: 1%;
}


.imagens {
    cursor: pointer;
    margin-top: 10%;
    margin-left: 12%;
}

.text {
    
    padding-top: 8%;
    text-align: center;
    font-family: "Poppins";
    font-size: 40px;
    color: #0B254B;
    
}


.text > p {
    padding-top: 2%;
    text-align: center;
    font-size: 18px;
}

.principal {
    display: "center";
    list-style-image: url(./checkmark-circle-outline\ 1.png);
    background-color: #F7F8FA;
}

.left-side {
    padding-left: 8%;
    padding-top: 10%;
}

.left-side > h1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
    color: #1D252C;
    letter-spacing: -0.9px;
    width: 350px;
    height: 105px;
    line-height: 46.6px; /* 116.5% */
    font-style: normal;
    padding-left: 5%;
}

.left-side > h4 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.8px; /* 142.5% */
    color: var(--green, #56B280);
    width: 350px;
    height: 25px;
    flex-shrink: 0;
    padding-left: 5%;
}


.right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.right-side > ul {
    padding-left: 5%;
    font-family: "Poppins";
    line-height: 50.8px; /* 180% */
    color: #000;
    padding-bottom: 10%;
    
    
    
}

.right-side > img {
    display: flex;
    width: 594px;
    height: 446px;
    flex-shrink: 0;
    -webkit-box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    box-shadow: 7px 10px 61px -10px rgba(0,0,0,0.5);
    margin-bottom: 20%;
}

.textbt {
    color: #FFF;
    padding: 8px 44px;
    font-family: "Roboto";
    font-size: 20.645px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background: var(--green, #56B280);
    cursor: pointer;
}

.bt {
    display: flex;
    padding-top: 20%;
    
    
    
}

